/* reset */
body,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
p,
img,
blockquote,
button,
pre,
fieldset,
form,
input,
select,
option {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}
s,
i,
u,
em {
  font-style: normal;
}
img,
button {
  border: none;
}
form,
input,
select,
option {
  outline: none;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}
div {
  box-sizing: border-box;
}
a,
button.submit {
  color: #40759b;
  text-decoration: none;
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}
a:focus {
  outline: none;
}
a:hover,
a:active {
  color: #40759b;
}
.clear {
  clear: both;
}
.hide {
  display: none;
  opacity: 0;
  height: 0px;
}
blockquote,
.stressed {
  padding: 12px 24px 12px 30px;
  margin: 2em 0;
  color: #966516;
  background-color: #f8f8f8;
  position: relative;
  border-left: solid 4px #ffc966;
}
blockquote:before,
.stressed:before {
  content: "!";
  background-color: #ffc966;
  position: absolute;
  top: 14px;
  left: -12px;
  color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  text-align: center;
  line-height: 20px;
  font-weight: bold;
  font-family: "Dosis", "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
  font-size: 14px;
}
strong,
b,
em {
  font-weight: bold;
}
.hidden1 {
  display: none;
}
/* iconfont */
@font-face {
  font-family: "fac";
  src: url("../iconfont/iconfont.eot?t=1478071541360");
  src: url("../iconfont/iconfont.eot?t=1478071541360#iefix") format('embedded-opentype'), url("../iconfont/iconfont.woff?t=1478071541360") format('woff'), url("../iconfont/iconfont.ttf?t=1478071541360") format('truetype'), url("../iconfont/iconfont.svg?t=1478071541360#iconfont") format('svg');
}
.fac {
  font-size: 16px;
  font-style: normal;
}
.fac:before {
  font-family: "fac" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: auto;
}
.fac-home:before {
  content: "\e001";
}
.fac-gui:before {
  content: "\e002";
}
.fac-user:before {
  content: "\e003";
}
.fac-rss:before {
  content: "\e004";
}
.fac-rili:before {
  content: "\e005";
}
.fac-commt:before {
  content: "\e006";
}
.fac-sou:before {
  content: "\e007";
}
.fac-biao:before {
  content: "\e008";
}
.fac-fei:before {
  content: "\e009";
}
.fac-archive:before {
  content: "\e00a";
}
.fac-you:before {
  content: "\e00b";
}
.fac-huo:before {
  content: "\e00c";
}
.fac-hit:before {
  content: "\e00d";
}
.fac-right:before {
  content: "\e00e";
}
.fac-left:before {
  content: "\e00f";
}
.fac-xie:before {
  content: "\e010";
}
.fac-empty:before {
  content: "\e011";
}
.fac-weibo:before {
  content: "\e012";
}
.fac-weixin:before {
  content: "\e013";
}
.fac-github:before {
  content: "\e014";
}
.fac-email:before {
  content: "\e015";
}
/* layout */
body {
  font-family: "Source Code Pro", Tahoma, "Helvetica Neue", Helvetica, "Hiragino Sans GB", "Microsoft YaHei Light", "Microsoft YaHei", "Source Han Sans CN", "WenQuanYi Micro Hei", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  color: #333;
  width: 100%;
  height: 100%;
  background-color: #292727;
}
.layout-g {
  letter-spacing: -0.31em;
  *letter-spacing: normal;
  word-spacing: -0.43em;
  *word-spacing: -0.43em;
  text-rendering: optimizespeed;
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
  display: -ms-flexbox;
  -ms-flex-flow: row wrap;
  -ms-align-content: flex-start;
  -webkit-align-content: flex-start;
}
.layout-l,
.layout-r {
  display: inline-block;
  *display: inline;
  zoom: 1;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto;
}
.layout-l {
  width: 75%;
  *width: 74.969%;
}
.layout-r {
  width: 25%;
  *width: 24.969%;
}
.body_container {
  padding: 0 50px;
  max-width: 1200px;
  margin: 0 auto;
}
.content_container {
  padding-right: 40px;
}
/* header */
#header {
  text-align: left;
  position: relative;
  min-height: 300px;
  box-shadow: -1px -1px 35px #03090c inset;
  border-top: solid 3px #104e56;
}
#header .site-name {
  padding-top: 100px;
}
#header .site-name h1 {
  padding: 0;
  margin: 0;
  height: 0;
  overflow: hidden;
}
#header .site-name .description_ {
  padding: 0.6em 0 0;
  color: #fff;
  text-shadow: 1px 2px 3px #113f6e;
  white-space: normal;
  word-wrap: break-word;
  line-height: 26px;
}
#header #site-nav {
  display: block;
  background: #292727;
  box-shadow: -1px 1px 5px #130d0d;
}
#bg-canvas,
#bg-canvas-image {
  height: 400px;
  top: 0;
  width: 100%;
  position: fixed;
  z-index: -2;
  background-color: #13404e;
  background-color: #185f7f;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../img/title-h.jpg");
}
#bg-canvas-image {
  z-index: -1;
  opacity: 0.85;
}
#logo {
  font: bold 42px/1.2 "宋体";
  white-space: nowrap;
  color: #fff;
  text-shadow: 1px 3px 6px #113f6e;
}
.body_main {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #fff;
}
.site-meta {
  font-size: 22px;
  font-weight: normal;
  font-family: cursive;
}
.site-meta p {
  margin-top: 10px;
  font-family: cursive;
  font-size: 14px;
  color: #51d0e8;
  text-align: center;
}
.custom-logo-site-title {
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: top;
  line-height: 36px;
}
.custom-logo-site-title a {
  color: #4bdbff;
  font-size: 22px;
  border: solid 1px #2997b9;
  padding: 5px 30px;
  text-shadow: 1px 1px 10px #2986a0;
  box-shadow: 1px 1px 10px #3a636f;
}
#nav-menu {
  padding: 0;
  display: flex;
  width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
}
#nav-menu ul#menu {
  margin: 0px;
  padding-left: 0;
  text-align: left;
  display: inline-block;
}
#nav-menu ul#menu li {
  display: inline-block;
  margin: 0;
  list-style: none;
  padding: 5px;
}
#nav-menu ul#menu li.current {
  background-color: #19607d;
}
#nav-menu ul#menu li.current >a {
  color: #d1f2f9;
}
#nav-menu ul#menu li.current >a i {
  border: none;
}
#nav-menu ul#menu a {
  display: inline-block;
  padding: 3px 10px 3px;
  line-height: 30px;
  color: #3ab2ca;
  border: 1px solid transparent;
}
#nav-menu ul#menu a i {
  font-size: 15px;
}
#nav-menu ul#menu a:hover {
  color: #b2c6cc;
  color: #e0f7ff;
}
#nav-menu ul#menu a:hover i {
  padding-bottom: 5px;
  border-bottom: solid 1px #e0f7ff;
}
/* sidebar */
#sidebar {
  word-wrap: break-word;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}
#sidebar .widget {
  margin-bottom: 20px;
  padding: 10px 20px 20px 20px;
  border: 1px solid #adc2d7;
  background: #fff;
  border-image: linear-gradient(135deg, #adf7bf 0, rgba(255,184,213,0.83) 25%, rgba(165,112,184,0.77) 33%, rgba(80,151,169,0.7) 63%, rgba(150,197,158,0.56) 84%, rgba(70,124,96,0.46) 99%, rgba(68,127,92,0.46) 100%) 1 1;
}
#sidebar .widget a {
  color: #1c7b7d;
}
#sidebar .widget a:hover {
  color: #40759b;
  text-decoration: underline;
}
#sidebar .widget .widget-title,
#sidebar .widget .comments-title {
  color: #2695ab;
  line-height: 2.7;
  margin-top: 0;
  font-size: 16px;
  border: 0;
  border-bottom: 1px solid #d8e2eb;
  display: block;
  font-weight: normal;
  border-image: linear-gradient(135deg, #adf7bf 0, rgba(255,184,213,0.83) 25%, rgba(165,112,184,0.77) 33%, rgba(80,151,169,0.7) 63%, rgba(150,197,158,0.56) 84%, rgba(70,124,96,0.46) 99%, rgba(68,127,92,0.46) 100%) 1 1;
}
#sidebar .widget .widget-title i:before,
#sidebar .widget .comments-title i:before {
  color: #25aba2;
  padding-right: 3px;
}
#sidebar .widget .tagcloud {
  margin-top: 10px;
}
#sidebar .widget .tagcloud a {
  line-height: 1.5;
  padding: 5px;
}
#sidebar .widget .tagcloud a:nth-child(9n) {
  color: #4a4a4a;
}
#sidebar .widget .tagcloud a:nth-child(9n+1) {
  color: #15a287;
}
#sidebar .widget .tagcloud a:nth-child(9n+2) {
  color: #5cb85c;
}
#sidebar .widget .tagcloud a:nth-child(9n+3) {
  color: #d9534f;
}
#sidebar .widget .tagcloud a:nth-child(9n+4) {
  color: #567e95;
}
#sidebar .widget .tagcloud a:nth-child(9n+5) {
  color: #b433ff;
}
#sidebar .widget .tagcloud a:nth-child(9n+6) {
  color: #00a67c;
}
#sidebar .widget .tagcloud a:nth-child(9n+7) {
  color: #b37333;
}
#sidebar .widget .tagcloud a:nth-child(9n+8) {
  color: #f60;
}
#sidebar .widget ul,
#sidebar .widget ol {
  list-style: none;
  padding: 0;
}
#sidebar .widget ul li,
#sidebar .widget ol li {
  list-style: none;
  margin: 5px 0;
  line-height: 1.5;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#sidebar .widget .category-list-count {
  padding-left: 5px;
  color: #40759b;
}
#sidebar .widget .category-list-count:before {
  content: "(";
}
#sidebar .widget .category-list-count:after {
  content: ")";
}
#sidebar .search-pla {
  display: block;
  height: 52px;
}
#search-form {
  position: relative;
}
#search-form label {
  position: relative;
  display: block;
  margin: 0;
  width: 100%;
  height: 100%;
  color: #fff;
}
#search-form label:before {
  font-family: "FontAwesome" !important;
  content: '\f002';
  position: absolute;
  font-size: 14px;
  left: 10px;
  top: 12px;
  color: #3ab2ca;
}
#search-form input {
  box-sizing: border-box;
  height: 40px;
  padding: 7px 11px 7px 35px;
  line-height: 16px;
  width: 100%;
  color: #fff;
  background: #2a2727;
  border-bottom: 1px solid #3ab2ca;
/* 使用webkit内核的浏览器 */
/* Firefox版本4-18 */
/* Firefox版本19+ */
/* IE浏览器 */
}
#search-form input::-webkit-input-placeholder {
  color: #20a0b9;
  padding-left: 5px;
}
#search-form input:-moz-placeholder {
  color: #20a0b9;
  padding-left: 5px;
}
#search-form input::-moz-placeholder {
  color: #20a0b9;
  padding-left: 5px;
}
#search-form input:-ms-input-placeholder {
  color: #20a0b9;
  padding-left: 5px;
}
#result-wrap {
  position: absolute;
  top: 55px;
  width: 120%;
  left: -50px;
  box-sizing: content-box;
  padding: 20px;
  background: #2a2727;
  color: #333;
  border: 1px solid #094c5a;
}
#result-wrap:before {
  content: '';
  position: absolute;
  display: inline-block;
  border-width: 0 12px 12px 12px;
  border-style: solid;
  border-color: #183e46 transparent;
  left: 56px;
  top: -12px;
}
#result-wrap:after {
  content: '';
  position: absolute;
  display: inline-block;
  border-width: 0 12px 12px 12px;
  border-style: solid;
  border-color: #2a2727 transparent;
  left: 56px;
  top: -10px;
}
#result-mask {
  position: fixed;
  left: 0;
  top: 0;
}
#search-result {
  width: 100%;
  box-sizing: content-box;
  padding-right: 20px;
  margin-right: -20px;
  max-height: 400px;
  overflow-y: auto;
}
#search-result .tips {
  text-align: center;
}
#search-result .tips p {
  color: #b9953b;
}
#search-result .tips .fa {
  font-size: 30px;
  color: #c5b88d;
}
#search-result .item {
  border-top: 1px solid #18657b;
  padding: 8px 0;
}
#search-result .item:first-child {
  border-top: none;
}
#search-result .item a:hover {
  text-decoration: none;
}
#search-result .item .title {
  white-space: nowrap;
  line-height: 1.8;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 14px;
  color: #40759b;
}
#search-result .item .title:hover {
  text-decoration: underline;
}
#search-result .item .time {
  text-align: right;
  font-size: 12px;
}
#search-result .item .tags {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#search-result .item .tags span {
  display: inline-block;
  margin-right: 5px;
  font-size: 12px;
}
#search-result .item .tags span:before {
  font-family: "fac" !important;
  content: '\e008';
}
/* post */
.post {
  padding: 25px;
  background: #fff;
  border-radius: 4px;
  border: 1px solid #adc2d7;
  margin-bottom: 40px;
  border-image: linear-gradient(135deg, #adf7bf 0, rgba(255,184,213,0.83) 25%, rgba(165,112,184,0.77) 33%, rgba(80,151,169,0.7) 63%, rgba(150,197,158,0.56) 84%, rgba(70,124,96,0.46) 99%, rgba(68,127,92,0.46) 100%) 1 1;
}
.post .post-title {
  margin: 0;
  color: #68b6ce;
  text-align: left;
  border-bottom: 1px solid #d8e2eb;
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 22px;
  line-height: 1.1;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(135deg, #50b1d2 0, #ff00be 25%, #278dde 33%, rgba(80,151,169,0.7) 63%, rgba(81,35,216,0.67) 84%, rgba(70,124,96,0.46) 99%, rgba(68,127,92,0.46) 100%);
  border-image: linear-gradient(135deg, #adf7bf 0, rgba(255,184,213,0.83) 25%, rgba(165,112,184,0.77) 33%, rgba(80,151,169,0.7) 63%, rgba(150,197,158,0.56) 84%, rgba(70,124,96,0.46) 99%, rgba(68,127,92,0.46) 100%) 1 1;
}
.post .post-title a {
  color: #68b6ce;
}
.post .post-title:hover {
  text-decoration: underline;
}
.post .post-meta {
  padding: 0;
  margin: 10px 0 0;
  color: #5f83b5;
  font-size: 14px;
  line-height: 24px;
  min-height: 24px;
  text-indent: 0.15em;
}
.post .post-meta:after {
  content: '';
  display: table;
  clear: both;
}
.post .post-meta span {
  display: inline-block;
  height: 16px;
  line-height: 16px;
  margin-right: 2px;
}
.post .post-meta span:after {
  content: ' | ';
}
.post .post-meta span:last-child:after {
  content: ' ';
}
.post .post-meta a {
  color: #40759b;
}
.post .post-meta a:hover {
  color: #44cdef;
  border: none;
}
.post .post-meta .category:before {
  font-family: "fac" !important;
  content: "\e002";
  padding-right: 0.3em;
}
.post .post-meta .date:before {
  font-family: "FontAwesome";
  content: "\f073";
  padding-right: 0.3em;
}
.post .post-meta #busuanzi_value_page_pv {
  height: 16px;
  line-height: 16px;
}
.post .post-meta #busuanzi_value_page_pv:before {
  font-family: "fac" !important;
  content: "\e00d";
  padding-right: 0.3em;
}
.post .comment-count {
  float: right;
  display: inline-block;
  text-indent: 0.15em;
}
.post .comment-count:before {
  vertical-align: bottom;
  font-family: "fac" !important;
  content: "\e006";
  padding-right: 0.3em;
}
.post .comment-count:hover {
  color: #40759b;
  border-bottom: 1px solid #40759b;
}
.post .comment-count span:after {
  content: '';
  display: none;
}
.post .post-content {
  clear: left;
  font-size: 15px;
  line-height: 1.77;
  color: #37373a;
  padding-top: 15px;
  text-align: justify;
  word-break: normal;
}
.post .post-content h2 {
  position: relative;
  z-index: 1;
  padding: 10px 0;
}
.post .post-content h2:before {
  content: "";
  position: absolute;
  top: 0;
  width: 130px;
  height: 100%;
  z-index: -1;
  display: block;
}
.post .post-content h2 {
  margin: 1rem 0;
  color: #29864c;
  font-size: 18px;
  background-color: #def1f1;
}
.post .post-content h2:before {
  background-color: #def1f1;
  border-left: solid 5px #168640;
  left: -30px;
}
.post .post-content h3 {
  color: #13a097;
  font-size: 16px;
  padding: 5px 10px;
  font-weight: 600;
  margin: 10px 0;
  border-bottom: dashed 1px #37aba3;
}
.post .post-content h4 {
  font-size: 14px;
}
.post .post-content h5 {
  font-size: 13px;
}
.post .post-content h6 {
  font-size: 12px;
}
.post .post-content p {
  margin: 0 0 1.234em;
}
.post .post-content p code {
  margin: 0 5px;
  padding: 0 5px;
  font-family: Source Code Pro, Monaco, Menlo, Consolas, monospace;
  background: #e4e4e4;
  color: #108843;
  border-radius: 3px;
  font-size: 0.95em;
}
.post .post-content p a {
  color: #40759b;
  padding-bottom: 2px;
  word-break: break-all;
  display: inline-block;
}
.post .post-content p a:hover {
  text-decoration: underline;
}
.post .post-content p .caption {
  color: #40759b;
  display: block;
  font-size: 0.9em;
  margin-top: 0.1em;
  position: relative;
  text-align: center;
}
.post .post-content blockquote p,
.post .post-content .stressed p {
  margin: 0;
}
.post .post-content img {
  max-width: 100%;
  padding: 0.5em 0;
  margin: auto;
  display: block;
}
.post .post-content hr {
  margin: 2.4em auto;
  border: none;
  border-top: 1px solid #d8e2eb;
  position: relative;
}
.post .post-content ul,
.post .post-content ol {
  margin: 0;
  padding: 0 0 0 2em;
}
.post .post-content ul code,
.post .post-content ol code {
  margin: 0 5px;
  padding: 0 5px;
  font-family: Source Code Pro, Monaco, Menlo, Consolas, monospace;
  color: #4d4d4c;
  background: #eee;
  font-size: 0.95em;
}
.post .post-content ul a,
.post .post-content ol a {
  color: #40759b;
  padding-bottom: 2px;
  word-break: break-all;
}
.post .post-content ul a:hover,
.post .post-content ol a:hover {
  text-decoration: underline;
}
.post .post-content table th {
  border-bottom-width: 1px;
  background-color: #fbf0e3;
}
.post .tags {
  padding-bottom: 0.5em;
  text-align: right;
}
.post .tags a {
  margin-right: 0.5em;
}
.post .tags a:before {
  font-family: "fac" !important;
  content: "\e008";
  padding-right: 0.3em;
}
.post .post-share::after {
  content: ' ';
  display: block;
  clear: both;
}
/* for archive page starts*/
.post-archive {
  font-size: 15px;
  line-height: 2;
  padding: 4em 0;
}
.post-archive ul,
.post-archive ol,
.post-archive li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.post-archive h2 {
  margin: 0 0 5px -120px;
  font-weight: bold;
  font-size: 24px;
  letter-spacing: -1px;
  height: 60px;
  width: 100px;
  text-align: center;
  line-height: 50px;
  color: #9953b9;
}
.post-archive h2:before {
  font-family: "fac" !important;
  font-weight: normal;
  content: "\e005";
  font-size: 32px;
  margin-right: 0.1em;
}
.post-archive h2:after {
  content: '';
  position: absolute;
  z-index: 2;
  left: -7px;
  top: 65px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #9953b9;
  box-shadow: 0 0 6px #9953b9;
}
.archive-wrap {
  position: relative;
  border-left: 2px solid #36afb5;
  margin-left: 140px;
  padding: 3em 0;
}
.archive-wrap.tag-cat {
  margin-left: 60px;
}
.archive-wrap:before,
.archive-wrap:after {
  content: '';
  position: absolute;
  left: -7px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #227998;
  box-shadow: 0 0 6px #36afb5;
}
.archive-wrap:before {
  top: -22px;
  content: "\f1da";
  width: auto;
  height: auto;
  left: -12px;
  display: inline-block;
  font: normal normal normal 25px/1 FontAwesome;
  color: #36afb5;
  text-rendering: auto;
  box-shadow: none;
  background: none;
}
.archive-wrap:after {
  bottom: 0;
}
.archive-wrap .listing li {
  margin-bottom: 30px;
  position: relative;
}
.archive-wrap .listing li a {
  color: #333;
}
.archive-wrap .listing li a:hover {
  color: #5483b1;
}
.archive-wrap .listing li a:before {
  position: absolute;
  z-index: 1;
  left: -11px;
  bottom: -10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff;
  border: 1px solid #36afb5;
}
.archive-wrap .listing li a:after {
  content: '';
  position: absolute;
  z-index: 2;
  left: -6px;
  bottom: -4px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #36afb5;
  border: solid 1px #fff;
}
.archive-wrap .listing li:hover a:after {
  background: #e451c7;
}
.archive-wrap .listing li:hover .tite {
  color: #369c9e;
}
.archive-wrap .listing li:hover .tite:after {
  background: #5483b1;
}
.archive-wrap .listing li:hover .date {
  color: #369c9e;
}
.archive-wrap .tite {
  position: relative;
  bottom: -12px;
  display: inline-block;
  line-height: 1.2em;
  padding: 0 20px;
  max-width: 100%;
  color: #0f71a9;
  box-sizing: border-box;
}
.archive-wrap .date {
  top: 12px;
  position: absolute;
  left: -100px;
  width: 100px;
  color: #9e5c9b;
  bottom: 0;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 15px 30px 0 15px;
}
/* for archive page ends */
/* footer */
#footer {
  width: 100%;
  padding: 30px 20px;
  background-color: #292727;
}
#footer .footer-info {
  line-height: 2;
  color: #fff;
  text-align: center;
  font-size: 0.925em;
}
#footer .footer-info a {
  color: #46a0be;
  margin: 0 6px;
}
#footer .footer-info span {
  margin: 0 6px;
}
#footer .footer-info .fa {
  display: inline-block;
  margin: 0 6px 0 0;
  padding: 0 2px;
}
#footer .footer-info .fa.fa-github {
  color: #000;
}
#footer .footer-info .fa.fa-github:hover {
  color: #4078c0;
}
#footer .footer-info .fa.fa-weibo {
  color: #e6162d;
}
#footer .footer-info .fa.fa-weibo:hover {
  color: #f93;
}
#footer .footer-info .fa.fa-email {
  color: #756e78;
}
#footer .footer-info .fa.fa-email:hover {
  color: #000;
}
#footer .footer-info p a {
  margin: 0;
}
/* page navigator */
.page-navigator {
  list-style: none;
  padding: 0 0 25px 0;
  font-size: 14px;
  text-align: center;
}
.page-navigator .space {
  border: none;
  padding: 5px 5px;
}
.page-navigator .current {
  background: #fff;
}
.page-navigator .current:hover {
  border-bottom-color: #adc2d7;
}
.page-navigator .page-number,
.page-navigator .extend {
  display: inline-block;
  margin: 0 5px 5px 0;
}
.page-navigator a,
.page-navigator span {
  display: inline-block;
  height: 25px;
  line-height: 25px;
  padding: 5px 9px;
  text-align: center;
  -webkit-box-shadow: 1px 2px 3px #adc2d7;
  box-shadow: 1px 2px 3px #adc2d7;
  border: 1px solid #adc2d7;
}
.page-navigator a:hover,
.page-navigator span:hover {
  border-bottom-color: #fff;
}
.page-navigator a.prev:before,
.page-navigator span.prev:before {
  font-family: "fac" !important;
  content: "\e00f";
  padding-right: 0.3em;
}
.page-navigator a.next:after,
.page-navigator span.next:after {
  font-family: "fac" !important;
  content: "\e00e";
  padding-left: 0.3em;
}
/* label title*/
.label-title {
  margin-top: 1.1em;
  font-size: 22px;
  color: #496d9e;
  font-weight: bold;
}
.label-title .fa {
  display: inline-block;
  background: #f2f7fb;
  color: #5483b1;
  padding: 0 10px;
  border-radius: 30px 0 0 30px;
  margin: 0 5px;
  font-size: 20px;
}
/* read more*/
.readmore a {
  font-size: 14px;
  color: #3484af;
  margin: -20px 0 0;
  padding: 5px 10px;
  float: right;
}
.readmore a:after {
  content: ">>";
  padding-left: 0.15em;
}
.readmore a:hover {
  color: #337fe6;
}
/* post navigator*/
.post-nav {
  overflow: hidden;
  margin-top: 15px;
  margin-bottom: 20px;
  padding: 10px;
  white-space: nowrap;
  border-top: 1px solid #d8e2eb;
}
.post-nav a {
  display: inline-block;
  max-width: 49%;
  line-height: 25px;
  font-size: 15px;
  color: #555;
  border-bottom: none;
  position: relative;
  white-space: normal;
  box-sizing: border-box;
  text-decoration: underline;
}
.post-nav a.pre {
  float: left;
  padding-left: 1.2em;
}
.post-nav a.pre:before {
  position: absolute;
  left: 0;
  top: 0;
  font-family: "fac" !important;
  content: "\e00f";
  padding-right: 0.3em;
}
.post-nav a:hover {
  color: #40759b;
}
.post-nav a.next {
  float: right;
  text-align: right;
  padding-right: 1.2em;
}
.post-nav a.next:after {
  position: absolute;
  right: 0;
  top: 0;
  font-family: "fac" !important;
  content: "\e00e";
  padding-left: 0.3em;
}
/* back-to-top */
#totop {
  position: fixed;
  right: 50px;
  bottom: 50px;
  display: block;
  visibility: hidden;
  width: 32px;
  height: 54px;
  line-height: 56px;
  overflow: hidden;
  color: #40759b;
  text-align: center;
  transition: all 0.3s;
  opacity: 0;
  -webkit-transition: visibility 0.6s cubic-bezier(0.6, 0.04, 0.98, 0.335), opacity 0.6s cubic-bezier(0.6, 0.04, 0.98, 0.335), -webkit-transform 0.6s cubic-bezier(0.6, 0.04, 0.98, 0.335);
  -moz-transition: visibility 0.6s cubic-bezier(0.6, 0.04, 0.98, 0.335), opacity 0.6s cubic-bezier(0.6, 0.04, 0.98, 0.335), -moz-transform 0.6s cubic-bezier(0.6, 0.04, 0.98, 0.335);
  transition: visibility 0.6s cubic-bezier(0.6, 0.04, 0.98, 0.335), opacity 0.6s cubic-bezier(0.6, 0.04, 0.98, 0.335), transform 0.6s cubic-bezier(0.6, 0.04, 0.98, 0.335);
}
#totop:before {
  font-family: "fac" !important;
  content: '\e00c';
  font-size: 54px;
  margin-left: -0.2em;
}
#totop.launch {
  opacity: 0;
  -webkit-transform: translateY(-500px);
  -moz-transform: translateY(-500px);
  -ms-transform: translateY(-500px);
  transform: translateY(-500px);
  pointer-events: none;
}
#totop.show {
  visibility: visible;
  opacity: 1;
  background-image: -webkit-linear-gradient(-45deg, #3f35cc 0, rgba(188,101,188,0.83) 25%, rgba(165,112,184,0.77) 33%, rgba(80,151,169,0.7) 63%, rgba(93,73,153,0.56) 84%, rgba(70,124,96,0.46) 99%, rgba(68,127,92,0.46) 100%);
  background-image: linear-gradient(135deg, #3f35cc 0, rgba(188,101,188,0.83) 25%, rgba(165,112,184,0.77) 33%, rgba(80,151,169,0.7) 63%, rgba(93,73,153,0.56) 84%, rgba(70,124,96,0.46) 99%, rgba(68,127,92,0.46) 100%);
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* about page */
.author-page {
  padding: 40px 0 20px 0;
  text-align: center;
}
.author-page:after {
  content: "";
  clear: both;
  display: block;
}
.author-page .photo {
  display: inline-block;
  vertical-align: top;
  box-sizing: content-box;
  padding: 0 30px 30px 30px;
  width: 180px;
  height: 180px;
}
.author-page .photo img {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border-radius: 50%;
}
.author-page .author {
  font-size: 16px;
  white-space: nowrap;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  padding-top: 30px;
}
.author-page .author .fa {
  margin-right: 0.4em;
}
.author-page .author .fa:before {
  font-size: 18px;
}
.author-page .author .fa:before {
  margin-right: 0.2em;
}
/* toc*/
#toc li {
  font-weight: bold;
}
#toc .toc-child {
  margin-left: 0.6em;
  padding-left: 0;
}
#toc .toc-child li {
  font-weight: normal;
}
#toc .toc-child li:first-of-type {
  margin-top: 0;
}
#toc .toc-child li:last-of-type {
  margin-bottom: 0;
}
.fixed {
  position: fixed;
  top: 0;
}
.fixed.scroll {
  overflow-y: scroll;
  max-height: 100%;
}
/* table*/
table,
tbody,
tr,
th,
td {
  border-collapse: collapse;
  box-sizing: border-box;
  border-spacing: 0;
  cellspacing: 0;
  cellpadding: 0;
  padding: 0;
  margin: 0;
}
table {
  margin: auto auto 15px;
  width: 100%;
  background: transparent;
  overflow-x: auto;
  display: block;
}
table th {
  font-weight: bold;
  padding: 5px 10px;
  border: 1px solid #d8e2eb;
  border-bottom-width: 2px;
}
table tr:nth-child(2n) {
  background: #f4fcff;
}
table td {
  padding: 5px 10px;
  border: 1px solid #d8e2eb;
}
/* duoshuo style*/
#ds-recent-comments li.ds-comment {
  border: none !important;
  border-bottom: 1px dashed #d8e2eb !important;
}
#ds-reset a:hover {
  color: #40759b !important;
}
#ds-reset .ds-post-button {
  background: #40759b !important;
}
#ds-reset .ds-post-button:hover {
  background: #608cb7 !important;
}
/******************************* 代码高亮 **********************************/
.highlight {
  margin: 10px;
  display: block;
  overflow-x: auto;
  color: #9a9305;
  background: #fbfbfb;
}
.highlight table {
  margin: 0;
}
.highlight table td {
  border: none;
}
.highlight .gutter {
  border-right: dashed 1px #e4e2db;
  background-color: #f5f5f5;
  padding: 0 10px 0 15px;
}
.highlight .gutter .line {
  color: #879294;
}
.highlight .comment,
.highlight .quote {
  color: #998;
  font-style: italic;
}
.highlight .keyword,
.highlight .selector-tag,
.highlight .subst {
  color: #4c8002;
  font-weight: bold;
  font-style: italic;
}
.highlight .number,
.highlight .literal,
.highlight .variable,
.highlight .template-variable,
.highlight .tag .attr {
  color: #008080;
}
.highlight .string,
.highlight .doctag {
  color: #718c00;
}
.highlight .title,
.highlight .section,
.highlight .selector-id {
  color: #900;
  font-weight: bold;
}
.highlight .subst {
  font-weight: normal;
}
.highlight .type,
.highlight .class .title {
  color: #458;
  font-weight: bold;
}
.highlight .tag,
.highlight .name,
.highlight .attribute {
  color: #000080;
  color: #c82829;
  font-weight: normal;
}
.highlight .regexp,
.highlight .link {
  color: #009926;
}
.highlight .symbol,
.highlight .bullet {
  color: #990073;
}
.highlight .built_in,
.highlight .builtin-name {
  color: #0086b3;
}
.highlight .meta {
  color: #999;
  font-weight: bold;
}
.highlight .deletion {
  background: #fdd;
}
.highlight .addition {
  background: #dfd;
}
.highlight .emphasis {
  font-style: italic;
}
.highlight .strong {
  font-weight: bold;
}
/******************************* 媒体查询 **********************************/
@media print, screen and (max-width: 1300px) {
  #header {
    min-height: 270px;
  }
  #header .site-name {
    padding-top: 80px;
  }
}
@media print, screen and (max-width: 1300px) and (max-width: 1200px) {
  .body_container {
    padding: 0 30px;
    max-width: 100%;
  }
  #nav-menu {
    max-width: 100%;
  }
  #bg-canvas,
  #bg-canvas-image {
    background-size: cover;
    background-position: center;
  }
}
@media print, screen and (max-width: 1300px) and (max-width: 56.25em) {
  .content_container {
    padding-right: 20px;
  }
  #sidebar .widget {
    margin-bottom: 15px;
  }
  .post {
    padding: 20px;
  }
}
@media print, screen and (max-width: 1300px) and (max-width: 48em) {
  .layout-l {
    width: 100%;
  }
  .layout-r {
    width: 100%;
  }
  #toc {
    display: none;
  }
  #sidebar .search-pla {
    display: none;
  }
  #search-form {
    position: relative;
    bottom: 0;
    width: 100%;
  }
  #search-form label {
    color: #fff;
  }
  #search-form input {
    color: #fff;
    background: transparent;
  }
  #search-form input:-ms-input-placeholder {
    color: #fff;
  }
  #search-form input:-moz-placeholder {
    color: #fff;
  }
  #search-form input::-moz-placeholder {
    color: #fff;
  }
  #search-form input::-webkit-input-placeholder {
    color: #fff;
  }
  #nav-menu {
    position: relative;
    text-align: center;
    max-width: 1000px;
  }
  #nav-menu a {
    padding: 0 15px;
    line-height: 27px;
    height: 27px;
    font-size: 13px;
  }
  .site-name {
    text-align: center;
  }
  .content_container {
    padding-right: 0;
  }
  .body_container {
    padding: 0 20px;
    max-width: 1000px;
  }
  .post {
    padding: 15px;
  }
  .post-title {
    font-size: 20px;
  }
  #sidebar .widget {
    padding: 5px 15px 15px 15px;
  }
  .hidden_mid_and_down {
    display: none !important;
  }
  .post-archive {
    padding: 1em 0;
  }
  .archive-wrap {
    margin-left: 110px;
  }
  .archive-wrap.tag-cat {
    margin-left: 30px;
  }
  .archive-wrap .tite {
    padding: 0 20px;
  }
  .author-page .author {
    font-size: 14px;
  }
  #result-wrap {
    width: 60%;
    left: 0;
  }
}
@media print, screen and (max-width: 1300px) and (max-width: 35.5em) {
  #bg-canvas,
  #bg-canvas-image {
    background-size: cover;
    background-position: center;
  }
  #header .site-name {
    padding-top: 50px;
  }
  #nav-menu {
    max-width: 100%;
    flex-flow: column wrap-reverse;
  }
  .content_container {
    padding-right: 0;
  }
  .body_container {
    padding: 0 20px;
    max-width: 100%;
  }
  .post-archive {
    padding: 0.6em 0;
  }
  .archive-wrap {
    margin-left: 60px;
  }
  .archive-wrap.tag-cat {
    margin-left: 10px;
  }
  .archive-wrap .listing li {
    margin-bottom: 30px;
  }
  .archive-wrap .tite {
    padding: 0 15px;
    font-size: 14px;
  }
  .archive-wrap .date {
    left: -62px;
    width: 60px;
    border-radius: 15px 15px 0 15px;
    font-size: 12px;
  }
}
@media print, screen and (max-width: 1300px) and (max-width: 25em) {
  #nav-menu {
    max-width: 100%;
  }
  #nav-menu a {
    padding: 0 10px 0 8px;
  }
  #nav-menu a i.fa {
    font-size: 14px;
  }
  .post .post-title {
    font-size: 18px;
  }
  .post-archive {
    padding: 0;
    padding-top: 50px;
    padding-left: 50px;
  }
  .archive-wrap {
    margin-left: 56px;
  }
  .archive-wrap.tag-cat {
    margin-left: 0px;
  }
  .archive-wrap .tite {
    padding: 0 5px 0 10px;
  }
  .author-page .author {
    font-size: 12px;
  }
  .author-page .photo {
    padding: 0 0 30px 0;
  }
  #result-wrap {
    width: 90%;
    left: 0;
  }
}
